description "mesos slave"

# Start just after the System-V jobs (rc) to ensure networking and zookeeper
# are started. This is as simple as possible to ensure compatibility with
# Ubuntu, Debian, CentOS, and RHEL distros. See:
# http://upstart.ubuntu.com/cookbook/#standard-idioms
start on stopped rc RUNLEVEL=[2345]
respawn

exec /usr/local/bin/mesos slave --master=zk://{% for host in groups['mesosmaster'] %}{{ hostvars[host]["internal_host"] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos --ip={{ internal_host }} --hostname={{ internal_host }}  --containerizer_path=/usr/local/bin/deimos --isolation=external
